
<div class="container-fluid">
    <div class="row">
        <aside class="col-3 col-sm-2 barra-lateral p-0">
            <div class="logo" >
                <h2> Manto</h2>
            </div>

            <nav class="nav flex-sm-column justify-content-center">
                <a href="#" class="nav-link active">Boards <span>+</span></a>
                <a href="#" class="nav-link">Projects</a>
                <a href="#" class="nav-link">Teams</a>
            </nav>
        </aside>

        <div class="col-7">
            <h1>hola mundo</h1>
        </div>
    </div>
</div>
